@import "src/app/app.component";

.nav-bar-item {
  display: flex;
  height: $nav-bar-item-line-height;
  width: $nav-bar-item-line-width;
  min-width: $nav-bar-item-line-min-width;
  min-height: 50px;
}

.nav-bar-item-box{
  display: flex;
  align-items: center;
}

.nav-bar-item-box-hover{
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  font-weight: bolder;
  color: #2a3a71;
}


.nav-bar-item-box-label{
  display: block;
  line-height: $nav-bar-item-line-height;
  text-align: center;
}

label {
  margin-bottom: 0;
}
