.html-displayer-content {
  width: 100%;
  height: calc(100% - 54px);
  overflow: auto;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  word-wrap: break-word;
}

.ql-container {
  border: none !important;
  cursor: initial !important;
}
