<div>
  <div class="card-field">
    <div class="label">
      <p class="no-margin">Name: </p>
    </div>
    <div class="content">
      <p class="no-margin">{{data.user.nickname}}</p>
    </div>
  </div>

  <div class="card-field">
    <div class="label">
      <p class="no-margin">Sitzplatz: </p>
    </div>
    <div class="content">
      <p class="no-margin">{{data.user.seat}}</p>
    </div>
  </div>

  <div class="card-field">
    <div class="label">
      <p class="no-margin">Rechte: </p>
    </div>
    <div class="content">
      <p class="no-margin">{{data.user.level}}</p>
    </div>
  </div>
</div>
