.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 20vw;
  height: 100vh;
}

.information {
  position: fixed;
  left: 20vw;
  top: 7.5vh;
  width: 80vw;
  height: 92.5vh;
  background: rgba(196, 142, 125, 0.76);
}
