.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 12vw;
  height: 100vh;
}

.information {
  position: fixed;
  left: 12vw;
  width: 88vw;
  height: 100vh;
  background: rgba(171, 171, 171, 0.76);
}


