.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 12vw;
  height: 100vh;
}

.information {
  position: fixed;
  left: 12vw;
  width: 88vw;
  height: 100vh;
  background: rgba(196, 142, 125, 0.76);
}
