.registerOptionsBar {
  position: fixed;
  left: 20vw;
  top: 0px;
  width: 80vw;
  height: 7.5vh;
  background: #C4C4C4;
}

.registerOptionsTable {
  height: 100%;
  width: 100%;
}

.registerItem {
  vertical-align: middle;
}

.registerOptionContent {
  position: fixed;
  left: 20vw;
  top: 7.5vh;
  width: 80vw;
  height: 92.5vh;
}
