@import "src/app/app.component";

.registerOptionsBar {
  display: flex;
  flex: 1;
  width: 100vw - $nav-bar-width;
  height: $header-height;
}

.registerItem {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
