<div class="registerOptionsBar">
    <div class="registerItem" *ngFor="let register of registerOptions">
      <app-register-item [registerItem]="register" [active]="register.getActive()" (itemSelected)="activeRegisterOptionChange($event)"></app-register-item>
    </div>
</div>
<div style="margin-top: -2.5vh">
  <hr class="split-line line-shadow mr-4 ml-4">
</div>


<div>
  <ng-template #dynamicElementInsertionPoint></ng-template>
<!--  <app-html-displayer [htmlString]="activeRegisterOption" *ngIf="activeRegisterOption"></app-html-displayer>-->
</div>
