@import "src/app/app.component";

.nav-bar {
  display: flex;
  width: $nav-bar-width;
  min-width: $nav-bar-min-width;
  height: $nav-bar-height;
}

.information {
  display: flex;
  left: 20vw;
  top: 0px;
  width: 80vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}
