@import "src/app/app.component";

.home-view {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  width: $nav-bar-width;
  min-width: $nav-bar-min-width;
  height: $nav-bar-height;
}

.information {
  display: flex;
}
