.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 20vw;
  height: 100vh;
}

.information {
  position: fixed;
  left: 20vw;
  top: 0px;
  width: 80vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}
