button {
  background-color: #8f8f8f;
}

mat-expansion-panel {
  background-color: #b3b3b3;
}

.status-label {
  border: 1px solid #3f51b5;
  border-radius: 5px;
  padding: 0 7px 0 7px;
}

.orderTime-label {
  float: right;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  padding: 0 7px 0 7px;
  background: #3f51b5;
}
