<!--Toolbar-->
<div class="toolbar">
  <label>NavBar Settings: </label>
  <div class="button-box">
    <button mat-raised-button (click)="addNavBarItem($event)"> Add </button>
  </div>
  <div class="button-box">
    <button mat-raised-button color="warn" (click)="applyConfig($event)"> Apply </button>
  </div>
</div>

<!--Nav Bar Items Navigation set Up-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--Table Select -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>Selected</th>
    <td *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!--Table Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field [style.fontSize]="12">
        <textarea matInput [ngModel]="row.name" (ngModelChange)="changeName($event, row)"
                            cdkTextareaAutosize="1"
                            cdkAutosizeMaxRows="1"
                  ></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <!--Table Component -->
  <ng-container matColumnDef="componentName">
    <th mat-header-cell *matHeaderCellDef>Used Component</th>
    <td mat-cell *matCellDef="let row" >
      <mat-form-field>
        <mat-select [(value)]="row.usedComponent">
          <mat-option *ngFor="let outerCop of selectableComponents" [value]="outerCop">
            {{outerCop}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="beamerTimer">
    <th mat-header-cell *matHeaderCellDef>Beamer Timer</th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field [style.fontSize]="12">
        <input matInput digitOnly [(ngModel)]="row.beamerTimer"
                  cdkTextareaAutosize="1"
                  cdkAutosizeMaxRows="1"
        >
      </mat-form-field>
    </td>
  </ng-container>

  <!--Table Active -->
  <ng-container matColumnDef="enabledAtIntranet">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let row" >
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="setEnabledAtIntranet($event, row)"
                    [checked]="row.activeForIntranet">
      </mat-checkbox>
    </td>
  </ng-container>

  <!--Table Beamer Presenation active -->
  <ng-container matColumnDef="activeForBeamerPresentation">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let row" >
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="setActiveForBeamerPresentation($event, row)"
                    [checked]="row.activeForBeamerPresentation">
      </mat-checkbox>
    </td>
  </ng-container>

  <!--Table Data -->
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let row" >
      <button mat-raised-button (click)="openDialog(row)"> Set Data </button>
    </td>
  </ng-container>

  <!--Table Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row" >
      <mat-icon (click)="deleteNavBarItem($event, row)">delete_forever</mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<!-- Bottom component-->
<app-set-app-navigation *ngIf="activeNavItem" [config]="activeNavItem.appComponents" [parentAppNavItem]="activeNavItem.id" (saveConfig)="applyConfig($event)"></app-set-app-navigation>
<div class="inserted-Configuration-Component">
  <ng-template #dynamicElementInsertionPoint></ng-template>
</div>
