$nav-bar-width: 12.5vw;
$nav-bar-height: 100vh;
$nav-bar-min-width: 150px;
$nav-bar-item-line-height: 3.5vh;
$nav-bar-item-line-width: 12.5vw;
$nav-bar-item-line-min-width: 120vw;

.mat-card-field {
  display: flex;
  justify-content: left;
}

.mat-card-label {
  width: 10vw;
  font-weight: bold;
}


