$nav-bar-width: 100vw;
$nav-bar-height: 72px;
$nav-bar-min-width: 175px;
$nav-bar-item-line-height: 3.5vh;
$nav-bar-item-line-width: 10vw;
$nav-bar-item-line-min-width: 160px;
$header-height: 64px;
$background-main-window: linear-gradient(90deg, #565656 0%, rgba(160, 160, 160, 0.81) 100%);
$main-background-mat-card: linear-gradient(90deg, #1F1F1F 0%, rgba(91, 91, 91, 0.81) 100%);
$second-background-mat-card: linear-gradient(90deg, #7a7a7a 0%, rgba(200, 200, 200, 0.81) 100%);

.mat-card-field {
  display: flex;
  justify-content: left;
}

.mat-card-label {
  width: 10vw;
  font-weight: bold;
}

.split-line {
  border: none;
  height: 1px;
  background: rgba(155, 155, 155, 0.3);
}

.line-shadow {
  box-shadow: 0px 0px 4px rgba(155, 155, 155, 0.16);
}

mat-card {
  background: #f9f9f9;
}

.mat-card.scrollable-content {
  overflow: auto;
}

.mat-menu-content {
  background-color: #a9a9a9 !important;
}

.home-window-background {
  background: $background-main-window;
  height: 100%;
}

.componentDisplayer-secondMatCard {
  background: $second-background-mat-card;
}

.componentDisplayer-matCard {
  background: $main-background-mat-card;
  padding: 2.5vh 1vw 2.5vh 1vw;
  height: 100%;
}

.display-flex-column {
  display: flex;
  flex-flow: column;
}

.display-flex-row {
  display: flex;
  flex-flow: row;
}

.display-flex-justify-center {
  display: flex !important;
  justify-content: center;
}

.font-white {
  color: white;
}

.label {
  min-width: 140px;
  width: 140px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: left;
  word-wrap: break-word;
}

.add-pointer {
  cursor: pointer;
}

app-html-displayer-configuration .ql-editor {
  background-color: black;
}

app-home .componentDisplayer-SizeFitter {
  padding: 2.5vh 5vw 2.5vh 5vw;
  height: calc(100vh - 2.5vh - 64px - 16px);
}

app-beamer-view .componentDisplayer-SizeFitter {
  border-radius: 0;
  height: 100vh;
}

app-kitchen-view .componentDisplayer-SizeFitter {
  border-radius: 0;
  height: 100vh;
}

app-beamer-view .mat-card {
  display: inherit;
}

app-home .content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  word-wrap: break-word;
}

app-beamer-view .content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  word-wrap: break-word;
}

quill-editor {
  width: inherit;
}

.toolbar {
  position: relative;
  height: 7.5vh;
  width: 100%;
  background: #416371;
}

.w-66 {
  width: 66%;
}

.w-33 {
  width: 33%;
}

.h-60 {
  height: 60vh;
}

.h-72 {
  height: 72vh;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

