<div class="navbar navbar-dark height-80px navbar-bg">

  <div class="display-flex-row">
    <div class="add-pointer pr-2" *ngIf="checkUserRights()">
      <button mat-mini-fab color="primary" (click)="this.onClickSettings($event)">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div class="add-pointer pr-2" *ngIf="checkUserRights()">
      <button mat-mini-fab color="primary" (click)="this.onClickBeamerView()">
        <mat-icon>computer</mat-icon>
      </button>
    </div>

    <div class="add-pointer" *ngIf="checkUserRights()">
      <button mat-mini-fab color="primary" (click)="this.onClickKitchenView()">
        <mat-icon>outdoor_grill</mat-icon>
      </button>
    </div>
  </div>


  <div class="flex-navbar-items width-75">
    <!--https://stackblitz.com/edit/dynamic-nested-menus?file=app%2Fapp.component.html-->
    <div *ngFor="let navBarItem of navBarItems">
      <span>
        <span class="add-pointer pl-1 pr-1" *ngIf="navBarItem.activeForIntranet &&navBarItem.appComponents && navBarItem.appComponents.length > 0">
          <button mat-raised-button class="navBar-btn" [matMenuTriggerFor]="menu.childMenu">
            <span class="font-size-large">{{navBarItem.name}}</span>
            <mat-icon>expand_more</mat-icon>
          </button>
          <app-menu-item #menu [items]="navBarItem" (itemSelected)="callItemSelected($event)"></app-menu-item>
        </span>
        <!-- Leaf node buttons here see link above for this-->
        <span class="pl-1 pr-1" *ngIf="navBarItem.activeForIntranet && ( !navBarItem.appComponents || navBarItem.appComponents.length === 0)">
          <button mat-raised-button class="navBar-btn" (click)="callItemSelected(navBarItem)">
            <span class="font-size-large">{{navBarItem.name}}</span>
          </button>
        </span>
      </span>
    </div>
  </div>

  <div class="add-pointer">
    <button mat-mini-fab color="primary" (click)="onClickUser($event)">
      <mat-icon>group</mat-icon>
    </button>
  </div>

</div>




