<div class="nav-bar">
  <div class="header">
    <div class="label-box">
      <label class="header-intranet">Intranet</label>
    </div>
  </div>

  <div class="body">
    <div *ngFor="let navItem of navBarItems">
      <app-nav-bar-item [navItem]="navItem" [active]="navItem.getActive()"></app-nav-bar-item>
    </div>
  </div>

  <div class="footer">
    <img src="assets/img/LanPort.png"  width="100%" height="auto" class="img" (click)="onLPLogoClick($event)">
  </div>


</div>

<hr class="line-header">
<hr class="line-footer">

<mat-icon class="settings">settings</mat-icon>
<mat-icon class="user" (click)="onClickUser($event)">account_circle</mat-icon>

