.toolbar {
  position: relative;
  height: 7.5vh;
  width: 100%;
  background: #416371;
}

.button-box {
  float: left;
  height: 5.7vh;
  width: 10vw;
}

mat-table {
  overflow: auto;
}

mat-form-field {
  padding-right: 5px;
}

.table-container {
  overflow-x: scroll;
}

.tournament-actions {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

mat-icon:hover {
  cursor: pointer;
}
