.toolbar {
  position: relative;
  height: 7.5vh;
  width: 100%;
  background: #416371;
}

.button-box {
  float: left;
  height: 5.7vh;
  width: 10vw;
}

.table-tournament {
  width: 100%;
}

.mat-form-field {
  width: 120px;
}
