.tournament-main-grid {
  width: 100%;
  height: 100%;
}

.tournament-top-grid {
  height: 40%;
}

.tournament-bottom-grid {
  width: 100%;
  height: 60%;
}

.tournament-column-grid {
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
}

.column-header {

}

.column-item {

}
