@import "src/app/app.component";

.tournament-main-grid {
  display: flex;
  flex-flow: column;
  width: 100vw - $nav-bar-width;
  padding: 2.5vh 5vw 2.5vh 5vw;
  //2.5vh is offset hr
  //64px height top nav
  //16px margin hr bottom
  height: calc(100vh - 2.5vh - 64px - 16px);
}

.tournament-top-grid {
  height: 45vh;
  flex: 1 1;
}

.tournament-bottom-grid {
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  flex: 0 1;
}

.tournament-column-grid {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  height: 95%;
  overflow: auto;
}

.tournament-column-grid-90 {
  width: 90%;
  float: left;
  text-align: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  height: 95%;
  overflow: auto;
}

.team-card {
  width: 15vw;
  margin: 0.5vh;
  padding: 1vh !important;
  display: inline-block;
}

.card-field {
  display: flex;
  justify-content: left;
}

.label {
  width: 10vw;
  min-width: 110px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: left;
  word-wrap: break-word;
}

.no-margin {
  margin: 0px !important;
}

.userLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.userLink {
  color: #4f6fff;
}

.teamRow {
  display: flex;
  align-items: center;
}

