<div class="tournament-main-grid">

  <!--  Tournament infos and prices   -->
  <div class="tournament-top-grid">

    <!--    Infos     -->
    <div class="tournament-column-grid">
      <mat-card class="top-card scrollable-content">
        <mat-card-title>Infos</mat-card-title>

        <mat-card-content *ngFor="let item of infosDisplayArray">
          <div class="card-field">
            <div class="label">
              <p class="no-margin">{{item[0]}}</p>
            </div>
            <div class="content">
              <p class="no-margin">{{item[1]}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--    Placeholder     -->
    <div class="tournament-column-grid ">
      <mat-card class="top-card scrollable-content">
        <mat-card-title>Placeholder</mat-card-title>

        <mat-card-content >
          <div class="card-field">
            <div class="label">
              <p class="no-margin">Placeholder</p>
            </div>
            <div class="content">
              <p class="no-margin"> Not needed space, wtf!</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

    <!--    Preise     -->
    <div class="tournament-column-grid">
      <mat-card class="top-card scrollable-content">
        <mat-card-title>Preise</mat-card-title>

        <mat-card-content >
          <div class="card-field">
            <div class="label">
              <p class="no-margin">Preise</p>
            </div>
            <div class="content">
              <p class="no-margin"> Note implemented yet!</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <!-- Tournament registration  -->
  <div class="tournament-bottom-grid">
    <mat-card class="tournament-registration-card scrollable-content">
      <mat-card-title>
        <div>
          <p class="inline">Anmeldung</p>
          <mat-icon (click)="addTeam($event)">add</mat-icon>
        </div>
      </mat-card-title>

      <mat-card-content>
        <mat-card *ngFor="let team of teams">
          <mat-card-title>
            <p class="inline">{{team.name}}</p>
            <p class="inline"> Pin-Placeholder</p>
          </mat-card-title>
          <mat-card-content>
            <ul>
              <li *ngFor="let num of this.teamSizeArray;">{{num}}. {{ team.teamMembers[num-1] ? team.teamMembers[num-1].getUser().getName() : 'Leer'}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
