<div class="tournament-main-grid">

  <!--  Tournament infos and prices   -->
  <div class="tournament-top-grid">

    <!--    Infos     -->
    <div class="tournament-column-grid">
      <mat-card class="top-card scrollable-content">
        <mat-card-title>Infos</mat-card-title>

        <mat-card-content *ngFor="let item of infosDisplayArray">
          <div class="card-field">
            <div class="label">
              <p class="no-margin">{{item[0]}}</p>
            </div>
            <div class="content">
              <p class="no-margin">{{item[1]}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--    Teams / Player     -->
    <div class="tournament-column-grid ">
      <mat-card class="top-card scrollable-content">
        <mat-card-title *ngIf="tournament.getTeamRegistration()">Teams</mat-card-title>
        <mat-card-title *ngIf="!tournament.getTeamRegistration()">Spieler</mat-card-title>

        <mat-card-content >
          <div  *ngIf="tournament.getTeamRegistration()">
            <div class="card-field" *ngFor="let team of teams; let i = index" [attr.data-index]="i">
              <div class="label">
                <p class="no-margin" >Team {{i+1}}</p>
              </div>
              <div class="content">
                <p class="no-margin">{{team.getName()}}</p>
              </div>
            </div>
          </div>

          <div  *ngIf="!tournament.getTeamRegistration()">
            <div class="card-field" *ngFor="let tournamentParticipant of tournamentParticipants; let i = index" [attr.data-index]="i">
              <div class="label">
                <p class="no-margin" >Spieler {{i+1}}</p>
              </div>
              <div class="content">
                <p class="no-margin">{{tournamentParticipant.getUser().getName()}}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

    <!--    Preise     -->
    <div class="tournament-column-grid">
      <mat-card class="top-card scrollable-content">
        <mat-card-title>Preise</mat-card-title>

        <mat-card-content >
          <div class="card-field">
            <div class="label">
              <p class="no-margin">Preise</p>
            </div>
            <div class="content">
              <p class="no-margin"> Note implemented yet!</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <!-- Tournament Actions  -->
  <div class="tournament-bottom-grid">
    <mat-card>
      <mat-card-title>
        <div>
          <p class="inline">Actions</p>
          <mat-icon *ngIf="tournament.getTeamRegistration()" (click)="addTeam($event)">add</mat-icon>
          <mat-icon *ngIf="!tournament.getTeamRegistration()" (click)="joinTournament($event)">add_task</mat-icon>
        </div>
      </mat-card-title>

<!--      <mat-card-content>-->
<!--        <mat-card *ngFor="let team of teams" class="team-card">-->
<!--          <mat-card-title>-->
<!--            <p class="inline">{{team.name}}</p>-->
<!--            <p class="inline" [hidden]="!isMember(team)">   {{team.getPin()}}</p>-->
<!--          </mat-card-title>-->
<!--          <mat-card-content>-->
<!--            <ul>-->
<!--              <li *ngFor="let num of this.teamSizeArray;">{{num}}. {{ team.teamMembers[num-1] ? team.teamMembers[num-1].getUser().getName() + '  ' + team.teamMembers[num-1].getUser().getSeat() : 'Leer'}}</li>-->
<!--            </ul>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->
<!--            <button type="button" class="btn btn-success" [disabled]="cantJoinTeam(team)" (click)="joinTeam(team)"> Beitreten </button>-->
<!--            <button type="button" class="btn btn-danger" [disabled]="!isMember(team)" (click)="leaveTeam(team)"> Verlassen </button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
<!--      </mat-card-content>-->
    </mat-card>
  </div>
</div>
