@import "src/app/app.component";

.tournament-top-grid {
  height: 45vh;
  flex: 1 1;
}

.tournament-bottom-grid {
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  flex: 0 1;
}

.tournament-column-grid {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  height: 95%;
  overflow: auto;
}

.float-left-text-center {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  height: 95%;
  overflow: auto;
}

.no-margin {
  margin: 0px !important;
}

.userLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.userLink {
  color: #0027ff;
}

.teamRow {
  display: flex;
  align-items: center;
}
