@import "src/app/app.component";

.nav-bar-item {
  position: relative;
  height: $nav-bar-item-line-height;
  padding: 0.5vh 1vw;
}

.nav-bar-item-box{
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3vh;
}

.nav-bar-item-box-hover{
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(190, 190, 190, 0.916667) 17.71%, rgba(255, 255, 255, 0) 100%), rgba(51, 121, 179, 0.75);
  border: 2px solid #416371;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3vh;
}


.nav-bar-item-box-label{
  display: block;
  text-align: center;
  font-size: 0.75vw;
}
