/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";


html, body { height: 100%; }

.flex-1 {
  flex: 1;
}

iframe.ql-video {
  min-height: 33vh !important;
  min-width: 33vw !important;
}
